<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<% include partials/menu %>
<link rel="stylesheet" href="/stylesheets/modalimages.css">
<script src="/javascripts/getdate.js"></script>
<script src="/javascripts/modalimages.js"></script>
<script src="/javascripts/slideShow.js"></script>


<hr>
<% if(user!=null && slot.length ==0) { %>
  <h1>login</h1>
  <div class="main container-fluid">
  <div class="col-md-6 col-md-offset-3">
  <h1 class="display-4 m-b-2">
      เพิ่มสินค้า
</h1>
  <!--upload form-->
  <form id="uploadForm" enctype="multipart/form-data"  action="addevent1" method="POST" >
      <div class="form-group">
          <label for="name1">
              ชื่อสินค้า:
          </label>
          <input class="form-control" id="name2" type="text" placeholder="name3" name="name4" required>

      </div>
      <div class="form-group">
          <label for="pic1">
              รูปที่1:        
          </label>
          <input type="file" name="image" accept=".jpg,.png" required>
          <label for="pic2">
              รูปที่2:        
          </label>
          <input type="file" name="image" accept=".jpg,.png">
          <label for="pic3">
              รูปที่3:        
          </label>
          <input type="file" name="image" accept=".jpg,.png">
          <label for="pic4">
              รูปที่4:        
          </label>
          <input type="file" name="image" accept=".jpg,.png">
          <label for="pic5">
              รูปที่5:        
          </label>
          <input type="file" name="image" accept=".jpg,.png">
      </div>
      
      
      <div class="form-group">
              <label for="status">
                      สถานะ:       
                  </label>
                  <select class="form-control btn-success" name="status" id="status" onclick="dropdownclicked(event)">
                          <option class="btn-success" value="1" selected >มีสินค้า</option>
                          <option class="btn-danger" value="0" >สินค้าหมด</option>
                      </select>

      </div>
      <div class="form-group">
          <label for="start">
              เริ่มที่เลข:     
          </label>
          <input class="form-control" id="start" type="number" placeholder="start" name="start" >
      </div>
      <div class="form-group">
          <label for="end">
              สิ้นสุดที่เลข:       
          </label>
          <input class="form-control" id="end" type="number" placeholder="end" name="end" >
      </div>
      
      
      <button class="btn btn-primary " onclick="clicked(event)" type="submit" >
              อัพโหลด
      </button>
  </form>
</div>
</div>
<%}%>

<div class="container word-wrap" id="item-show">
    <h1>กิจกรรมประจำเดือน</h1>
        <div class="w3-content" style="max-width:600px">
            <div class="thumbnail">
                
                <% for(var i=0; i < imgShow.length; i++) { %>
                    <% if(i==0) { %>
                        <img id="img<%= i+1 %>"class="mySlides" src="/uploads/<%= imgShow[i].image %>" onclick="imgonclick('img<%= i+1 %>')"  >
                    <% } else { %>
                        <img id="img<%= i+1 %>" class="mySlides" src="/uploads/<%= imgShow[i].image %>" onclick="imgonclick('img<%= i+1 %>')" style="display:none">
                    <% } %>
                <% } %>
                

              </div>
                <div class="w3-row-padding w3-section">
                        <% for(var i=0; i < imgShow.length; i++) { %>
                            <div class="w3-col s4 text-center">
                                <% if(i==0) { %>
                                    <img class="demo w3-opacity w3-opacity-off" src="/uploads/<%= imgShow[i].image %>"
                                    style="height:128px;cursor:pointer" onclick="currentDiv('<%= i+1 %>')" >
                                    <% } else { %>
                                      <img class="demo w3-opacity " src="/uploads/<%= imgShow[i].image %>"
                                    style="height:128px;cursor:pointer" onclick="currentDiv('<%= i+1 %>')" >
                                      <% } %>
                            </div>
                        <% } %>
                        
                </div>
        </div>
</div>   

<div id="myModal" class="modal">
        <span class="close" onclick="imgShowClose(event)">&times;</span>
        <img class="modal-content" id="img01">
      </div>

<div class="container bg-3 text-center" id="item-list">
    
    <h3 class="text-left">เบอร์ทั้งหมด:</h3>
    <% for(var i=0; i < slot.length; i++) { %>
      <div class="col-md-1 col-sm-6 col-xs-12">
        <div class="thumbnail numberSlot word-wrap">
                <a href="#">
                  <a href="#"><%= slot[i].number %></a>
                  
                </a>
                <div class="caption bottom ">
                    <a href="#">ว่าง</a>
                </div>
                <% if(i%2==0){%>
                  
                <%}%>
        </div>
      </div>
      
    <% } %>
    
</div>




</body>
<% include partials/footer %>

<% include partials/script %>
</html>