<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3">
    <div class="container col-xs-6 center">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" controls="true" src="/videos/BNK48.mp4" type='video/mp4'></video>
          </div>
      </div>
</div>

<div class="container-fluid bg-3 text-center" id="item-list">
    <h3 class="text-left">สินค้า:</h3>
    <% for(var i=0; i < items.length; i++) { %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="thumbnail word-wrap">
                <a href="/showitem?itemid=<%= items[i].item_id %>">
                  <% if(items[i].status==1){%>
                    <img class ="img-on-img" src="/images/outofstock.png" alt="Image" width="50%" height="50%"/>
                  <%}%>
                  <img class ="" src="/uploads/<%= items[i].pic1 %>" alt="Image" width="100%" height="100%"/>
                </a>
                <div class="caption">
                    <a href="/showitem?itemid=<%= items[i].item_id %>"><h4><%= items[i].name %></h4></a>
                    <p>post:
                        <script>
                            getDate('<%= items[i].date %>');
                            </script>
                      </p>
                </div>
        </div>
      </div>
      
    <% } %>
</div>
</body>
<% include partials/footer %>

<% include partials/script %>
</html>