<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<body>
<% include partials/menu %>


        <div class="container">

            <!-- show any messages that come back with authentication -->
            <% if (success_messages.length >0) { %>
                <div class="alert alert-success">
                    <%= success_messages %>
                </div>
                <% } %>

            
            <h1 class="text-left">
                    item List <a href="/item/add" class="btn btn-warning glyphicon glyphicon-plus" role="button"></a>
            </h1>
            
        </div>
        <hr>
        <div class="container bg-3 text-center" id="item-list">
                <% for(var i=0; i < items.length; i++) { %>
                  <div class="col-md-2 col-sm-4">
                        <div class="thumbnail word-wrap">
                                <p>
                                        <a href="/item/edit?itemid=<%= items[i].item_id %>" class="btn btn-info" role="button">Edit</a> 
                                        <a href="/item/list/delete?itemid=<%= items[i].item_id %>" class="btn btn-danger glyphicon glyphicon-trash" role="button" onclick="return confirm('Are you sure?')"></a>
                                    </p>
                          <a href="/showitem?itemid=<%= items[i].item_id %>">
                            <img class ="" src="/uploads/<%= items[i].pic1 %>" alt="Image" />
                            <% if(items[i].status==0){%>
                                <img class ="status" src="/images/outofstock.png" alt="Image"/>
                              <%}%>
                          </a>
                          <div class="caption bottom">
                            <a href="/showitem?itemid=<%= items[i].item_id %>"><h4><%= items[i].name %></h4></a>
                            
                        </div>
                          
                        </div>
                  </div>
                  
                <% } %>
            </div>
            


</body>
<% include partials/script %>
</html>