<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<body>
<% include partials/menu %>


        <div class="container">

            <!-- show any messages that come back with authentication -->
            <% if (success_messages.length >0) { %>
                <div class="alert alert-success">
                    <%= success_messages %>
                </div>
                <% } %>

            
            <h1 class="text-left">
                    item List <a href="/item/add" class="btn btn-warning glyphicon glyphicon-plus" role="button"></a>
            </h1>
            
        </div>
        <hr>
        <div class="container bg-3 text-center" id="item-list">
                <% for(var i=0; i < items.length; i++) { %>
                  <div class="col-md-2 col-sm-4">
                        <div class="thumbnail word-wrap">
                                <p>
                                        <a href="/item/edit?itemid=<%= items[i].item_id %>" class="btn btn-primary glyphicon glyphicon-edit" role="button"></a> 
                                        <a href="/item/list/delete?itemid=<%= items[i].item_id %>" class="btn btn-danger glyphicon glyphicon-trash" role="button" onclick="return confirm('Are you sure?')"></a>
                                    </p>
                          <a href="/showitem?itemid=<%= items[i].item_id %>">
                            <img class ="" src="/uploads/<%= items[i].pic1 %>" alt="Image" />
                            <% if(items[i].status==0){%>
                                <img class ="status" src="/images/outofstock.png" alt="Image"/>
                              <%}%>
                          </a>
                          <div class="caption bottom">
                            <a href="/showitem?itemid=<%= items[i].item_id %>"><%= items[i].name %></a>
                            
                        </div>
                          
                        </div>
                  </div>
                  
                <% } %>
            </div>

            <div class="container text-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-end">

                            <% var prevpage = +pageselect-1; %>
                          <%if(pageselect==1){%>
                            <li class="page-item disabled">
                                    <a class="page-link" href="" onclick="return false" tabindex="-1">Previous</a>
                            <%}else{%>
                              <li class="page-item">
                                    <a class="page-link" href="/item/list/page?max=<%= maxpage %>&page=<%= prevpage %>" tabindex="-1">Previous</a>
                              <% } %>
                        </li>
                        <% for(var j=1; j <= maxpage; j++) { %>
                          <% if(j==pageselect){%>
                            <li class="page-item active"><a class="page-link" href="/item/list/page?max=<%= maxpage %>&page=<%= j %>"><%= j %></a></li>
                          <%}else{%>
                            <li class="page-item"><a class="page-link" href="/item/list/page?max=<%= maxpage %>&page=<%= j %>"><%= j %></a></li>
                          <% } %>
                        <% } %>

                        <% var nextpage = +pageselect+1; %>
                        <%if(pageselect==maxpage){%>
                          <li class="page-item disabled">
                            <a class="page-link" href="" onclick="return false">Next</a>
                          <%}else{%>
                            <li class="page-item">
                            <a class="page-link" href="/item/list/page?max=<%= maxpage %>&page=<%= nextpage %>" >Next</a>
                            <% } %>
                            
                          
                        </li>
                      </ul>
                    </nav>
                  </div>     


</body>
<% include partials/script %>
</html>