<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 

 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<% include partials/menu %>

<% var picList = [] %>
<% if(itemShow[0].pic1!=null) { %>
    <% picList[0] = itemShow[0].pic1 } %>
<% if(itemShow[0].pic2!=null) { %>
    <% picList[1] = itemShow[0].pic2 } %>
<% if(itemShow[0].pic3!=null) { %>
    <%picList[2] = itemShow[0].pic3 } %>
<% if(itemShow[0].pic4!=null) { %>
    <% picList[3] = itemShow[0].pic4 } %>
<% if(itemShow[0].pic5!=null) { %>
    <% picList[4] = itemShow[0].pic5 } %>

<div class="container-fluid word-wrap" id="item-show">
        <div class="container">
            
            <h1> 
                <% if(itemShow[0].status==1){%>
                  <div class="alert alert-danger text-center" role="alert">OUT OF STOCK</div>
                <%}%>
              <%= itemShow[0].name %> </h1>
            
        </div>
        <div class="w3-content" style="max-width:600px">
            <div class="thumbnail">
                <% if(itemShow[0].status==1){%>
                  <img class ="img-on-img" src="/images/outofstock.png" alt="Image" width="15%" height="15%"/>
                <%}%>
                <% for(var i=0; i < picList.length; i++) { %>
                    <% if(i==0) { %>
                        <img class="mySlides" src="/uploads/<%= picList[i] %>" style="width:100%">
                    <% } else { %>
                        <img class="mySlides" src="/uploads/<%= picList[i] %>" style="width:100%;display:none">
                    <% } %>
                <% } %>
              </div>
                <div class="w3-row-padding w3-section">
                        <% for(var i=0; i < picList.length; i++) { %>
                            <div class="w3-col s4">
                                <% if(i==0) { %>
                                    <img class="demo w3-opacity w3-opacity-off" src="/uploads/<%= picList[i] %>"
                                    style="width:100%;cursor:pointer" onclick="currentDiv('<%= i+1 %>')" >
                                    <% } else { %>
                                      <img class="demo w3-opacity " src="/uploads/<%= picList[i] %>"
                                    style="width:100%;cursor:pointer" onclick="currentDiv('<%= i+1 %>')" >
                                      <% } %>
                            </div>
                        <% } %>
                </div>
        </div>
        <div class="container">
                        <div class="thumbnail">
                                <h2> รายละเอียด: <%= itemShow[0].detail %> </h2>
                                <h2> น้ำหนัก: <%= itemShow[0].weight %> kg. </h2>
                                <h2> ราคา: <%= itemShow[0].price %> baht </h2>
                                <p>Post: 
                                    <script>
                                        getDate('<%= itemShow[0].date %>');
                                        </script>
                                  </p>
                                <button type="button" class="btn btn-default btn-lg">
                                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= itemShow[0].tag %>
                                </button>
                        </div>
        </div>
            
</div>    


<div class="container-fluid bg-3 text-center word-wrap">
    <h3 class="text-left">สินค้าอื่นๆที่ใกล้เคียง:</h3>
    <% for(var i=0; i < items.length; i++) { %>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail">
                <a href="/showitem?itemid=<%= items[i].item_id %>">
                  <% if(items[i].status==1){%>
                    <img class ="img-on-img" src="/images/outofstock.png" alt="Image" width="50%" height="50%"/>
                  <%}%>
                    <img class ="" src="/uploads/<%= items[i].pic1 %>" alt="Image" width="100%" height="100%"/>
                  </a>
                  <div class="caption">
                    <a href="/showitem?itemid=<%= items[i].item_id %>"><h4><%= items[i].name %></h4></a>
                    <p>Post: 
                        <script>
                            getDate('<%= items[i].date %>');
                            </script>
                      </p>
                  </div>
          </div>
      </div>
      
    <% } %>
</div>

<script>
    function currentDiv(n) {
      showDivs(slideIndex = n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-opacity-off";
    }
</script>

</body>
<% include partials/footer %>
<% include partials/script %>
</html>