<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 

 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<% include partials/menu %>
<link rel="stylesheet" href="/stylesheets/modalimages.css">

<script src="/javascripts/getdate.js"></script>
<script src="/javascripts/modalimages.js"></script>
<script src="/javascripts/slideShow.js"></script>

<% var picList = []
  if(itemShow[0].image!=null) 
  {
    picList[0] = itemShow[0].image 
  }
  for(var i=0; i < imagesShow.length; i++) {
    picList[1+i] = imagesShow[i].image
  }
  var videoShow;
  if(itemShow[0].video!=null) 
  { 
    videoShow = itemShow[0].video 
  } 
  %>

<div class="container word-wrap" id="item-show">
    <h1> 
        <% if(itemShow[0].status==0){%>
          <div class="alert alert-danger text-center" role="alert">สินค้าหมดแล้วค่ะ</div>
        <%}%>
      <%= itemShow[0].name %> </h1>
        <div class="w3-content" style="max-width:600px">
            <div class="thumbnail">
                
                <% for(var i=0; i < picList.length; i++) { %>
                    <% if(i==0) { %>
                        <img id="imgShow<%= i+1 %>"class="mySlides" src="/uploads/<%= picList[i] %>" onclick="imgonclick('imgShow<%= i+1 %>')"  >
                    <% } else { %>
                        <img id="imgShow<%= i+1 %>" class="mySlides" src="/uploads/<%= picList[i] %>" onclick="imgonclick('imgShow<%= i+1 %>')" style="display:none">
                    <% } %>
                <% } %>
                
                <% if(itemShow[0].status==0){%>
                  <img class ="status" src="/images/outofstock.png" alt="Image" style="height:40%"/>
                <%}%>
                
                <% if(videoShow){%>
                  <div id="imgShow<%= picList.length %>" class="embed-responsive embed-responsive-16by9 mySlides" style="display:none">
                      <video  autoplay muted class="embed-responsive-item "  controls="true" src="/uploads/<%= videoShow %>" type='video/mp4'></video>
                  </div>
                <%}%>
                

              </div>
                <div class="w3-row-padding w3-section">
                        <% for(var i=0; i < picList.length; i++) { %>
                            <div class="w3-col s4 text-center">
                                <% if(i==0) { %>
                                    <img class="demo w3-opacity w3-opacity-off" src="/uploads/<%= picList[i] %>"
                                    style="height:128px;cursor:pointer" onclick="currentDiv('<%= i+1 %>')" >
                                    <% } else { %>
                                      <img class="demo w3-opacity " src="/uploads/<%= picList[i] %>"
                                    style="height:128px;cursor:pointer" onclick="currentDiv('<%= i+1 %>')" >
                                      <% } %>
                            </div>
                        <% } %>
                        <% if(videoShow){%>
                          <div class="w3-col s4 text-center">
                              <img class="demo w3-opacity " src="/images/videoclick.png %>"
                                  style="height:128px;cursor:pointer" onclick="currentDiv('<%= picList.length+1 %>')" >
                          </div>
                        <%}%>
                        
                </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2> รายละเอียด: <%= itemShow[0].detail %> </h2>
                    <h2> น้ำหนัก: <%= itemShow[0].weight %> kg. </h2>
                    <h2> ราคา: <%= itemShow[0].price %> baht </h2>
                    <p>Post: 
                        <script>
                            getDate('<%= itemShow[0].date %>');
                            </script>
                      </p>
                      <% for(var i=0; i < tags.length; i++) { %>
                          <button type="button" class="btn btn-default btn-lg" onclick="window.location.href = '/taglist?tag=<%= tags[i].tag %>';">
                              <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= tags[i].tag %>
                          </button>
                      <%}%>
                    
                </div>
              </div>
        </div>
            
</div>    

<div id="myModal" class="modal">
  <span class="close" onclick="imgShowClose(event)">&times;</span>
  <img class="modal-content" id="img01">
</div>


<div class="container bg-3 text-center">
    <h3 class="text-left">อื่นๆที่ใกล้เคียง:</h3>
    <% for(var i=0; i < items.length; i++) { %>
      <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="thumbnail word-wrap">
                <a href="/showitem?itemid=<%= items[i].item_id %>">
                    <img class ="" src="/uploads/<%= items[i].image %>" alt="Image"/>
                    
                  </a>
                  <div class="caption bottom">
                    <a href="/showitem?itemid=<%= items[i].item_id %>"><%= items[i].name %></a>
                  </div>
                  <% if(items[i].status==0){%>
                    <img class ="status" src="/images/outofstock.png" alt="Image"/>
                  <%}%>
          </div>
      </div>
      
    <% } %>
</div>


</body>
<% include partials/footer %>
<% include partials/script %>
</html>